body{
  margin: 5rem auto;
}

.con-gallery1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px #cecece;
  margin: 5rem auto;
}

.gallery-text{
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 10rem;
  font-family: 'Poppins', sans-serif;
  text-overflow: ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

nav{
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  box-shadow: 2px 1px 1px #cecece;
}

.navigation-bar{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;
}

.navigation-logo{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.navigation-logo .logo{
  width: 10rem;
  height: 10rem;
}

.navigation-link{
  transition: 0.7s ease;
}

.navigation-item .navigation-link{
  text-decoration: none;
  color: #fff;
  position: relative;
}

.navigation-menu{
  width: 30rem; height: 44rem;
  position: fixed; z-index: 1500;
  right: -200%; top: 0;
  background: #24262b;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-menu i{
  color: whitesmoke; font-size: 2rem; width: 100%; text-align: end;
  cursor: pointer; position: absolute; left: -4%; top: 3%;
}

.navigation-menu.active{
  right: 0;
}

.list{
  width: 100%;
  margin: .5rem;
  padding: 2rem;
}

.list .navigation-list{
  margin-top: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation-list .navItem-list{
  font-size: 4rem; text-decoration: none; color: #af9e9e; transition: 0.7s;
  font-family: 'Bebas Neue', cursive; font-weight: bold; text-transform: uppercase;
  margin: 0;
}
.navItem-list:hover{
  color: #fff; transition: all 0.3s ease;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(128, 0, 0);
  position: relative;
  right: 0px;
}

#shopping-bag {
  position: fixed;
  right: 66px;
  top: 22px;
  cursor: pointer;
  font-size: 1.6rem;
  color: rgb(37, 36, 36);
}

#avatar{
  position: fixed;
  right: 5%;
  top: 22px;
  cursor: pointer;
  font-size: 1.8rem;
  color: rgb(37, 36, 36);
}

#avatar:hover,
#shopping-bag:hover {
  color: crimson;
  transition: all ease-in-out .3s;
}


.button_login {
  position: fixed;
  right: 120px;
  top: 20px;
  cursor: pointer;
  color: rgb(37, 36, 36);
  border: 1px solid crimson;
  width: 60px;
  padding: .1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  border-radius: 10%;
  transition: all ease-in-out .4s;
}

.button_login:hover {
  text-decoration: none;
  background: crimson;
  color: #fff;
  transition: all ease-in-out .4s;
}

.user_hover{
  width: 200px;
  position: fixed;
  top: 13%;
  right: 5%;
  background-color: #fff;
  border-radius: 5%;
  visibility: hidden;
  box-shadow: 1px 1px 1px 1px #cecece;
  z-index: 1000;
}

.hover_list {
  width: 100%;
}

.hover_list .hover_content{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.list_item {
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.link_hover {
  text-decoration: none;
  font-weight: bolder;
  width: 100%;
  color: #000;
}

.icon_link {
  margin-right: .5rem;
  font-size: 1.3rem;
}

.link_hover:hover,
.icon_link:hover {
  color: crimson;
}

.user_hover.active {
  visibility: visible;
}

.navigation-item{
  margin-bottom: 3.5rem;
}

/* Media Queries Navbar*/

@media(max-width:1400px) {

  .hamburger {
    display: block;
  }
}

@media(max-width: 1150px) {
  .additional-img {
    display: none;
  }

  .navigation-list .navItem-list {
    font-size: 3rem;
  }
}

@media(max-width: 430px) {

  .navigation-list .navItem-list {
    font-size: 8vw;
    padding: 0;
  }
}