@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --brown: #FEF8D0;
    --maroon: #854442;
    --softRed: hsl(14, 88%, 65%);
    --veryDarkGrayBlue: hsl(237, 12%, 33%);
    --darkGrayBlue: hsl(240, 6%, 50%);
    --lightGrayBlue: hsl(240, 5%, 91%);
    --fontSize: 12px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

nav{
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    box-shadow: 2px 1px 1px #cecece;
}

.navigation-bar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    width: 100%;
}

.navigation-logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.navigation-logo .logo{
    width: 10rem;
    height: 10rem;
}

.navigation-link{
    transition: 0.7s ease;
}

.navigation-item .navigation-link{
    text-decoration: none;
    color: #fff;
    position: relative;
}

.navigation-item a{
    text-transform: uppercase;
    font-family: 'Work Sans' sans-serif; font-weight: bolder;
}

#shopping-bag{
    position: fixed;
    right: 66px;
    top: 22px; cursor: pointer;
    font-size: 1.6rem; color: rgb(37, 36, 36);
}

#avatar{
    position: fixed;
    right: 100px;
    top: 22px; cursor: pointer;
    font-size: 1.8rem; color: rgb(37, 36, 36);
}

#logout{
    position: fixed;
    right: 29px;
    top: 21px; cursor: pointer;
    font-size: 1.8rem; color: rgb(37, 36, 36);
}

#avatar:hover,
#shopping-bag:hover,
#logout:hover{
    color: crimson;
    transition: all ease-in-out .3s;
}

.user_hover{
    width: 230px;
    position: absolute;
    top: 13%;
    right: 5%;
    background-color: #fff;
    border-radius: 5%;
    visibility: hidden;
    z-index: 1000;
    box-shadow: 1px 1px 1px 1px rgb(211, 210, 210);
}

.hover_list{
    width: 100%;
    margin: .5rem;
}

.hover_list .hover_content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.list_item{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.link_hover{
    text-decoration: none;
    font-weight: 1000;
    width: 100%;
    color: #000;
}

.icon_link{
    margin-right: .5rem;
    font-size: 1.3rem;
}

.link_hover:hover,
.icon_link:hover{
    color: crimson;
}

.user_hover.active{
    visibility: visible;
}

.main-content{
    margin-top: 8rem;
}

.orders .list-group{
    height: 440px;
    margin-bottom: 10px;
    overflow-y:scroll;
    border: .5px solid #ccc;
    border-radius: 8px;
    cursor: pointer !important;
}

.list-group-items{
    border: none;
    border-bottom: .5px solid #ccc !important;

}

.orders .list-group-item:hover{
    background-color: burlywood;
    color: #fff;
}

.lTitle{
    color: var(--maroon);
}

.kitchen{
    height: 200px;
    border: .5px solid #ccc; 
}

.kitchen .list-group, .way .list-group{
    margin-bottom: 10px;
    overflow-y:scroll;
    height: 200px;
}

.kitchen .list-group-item:hover, .way .list-group-item:hover{
    background-color: rgb(243, 243, 243);
}

.way{
    height: 200px;
    border: .5px solid #ccc; 
}

ul .btn-success{
    width: 10% !important;
    padding: 2px !important;
    font-size: .8rem !important;
}

.kitchen li span, .way li span{
    cursor: pointer;
}


/* CSS Modal for Incoming Orders */

.modal-footer {
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
}

.btn-success{
    font-size: .8rem;
    width: 100%;
}

.pMethod{
    display: flex;
    justify-content: center;
}

#timeKitchen .modal-footer, #timeDelivery .modal-footer, #Delivered .modal-footer{
    padding: 1rem !important;
}

#timeKitchen .modal-footer .btn-success, #timeKitchen .modal-footer .btn-danger,
#timeDelivery .modal-footer .btn-success, #timeDelivery .modal-footer .btn-danger,
#Delivered .modal-footer .btn-success, #Delivered .modal-footer .btn-danger{
    font-size: .8rem !important;
    padding: 5px !important;
    width: 20% !important;
}

  









/* Media Queries Navbar*/

@media(max-width:1400px){

    .hamburger{
        display: block;
    }
}

@media(max-width: 1150px){
    .navigation-list .navItem-list{
        font-size: 3rem;
    }
}
@media(max-width: 430px){
    .navigation-list .navItem-list{
        font-size: 8vw;
        padding: 0;
    }
}